.section,
.fp-section,
.fp-completely {
    color: white;
    text-align: center;
    font-size: 3rem;
}
#fp-nav li{
    list-style: none; 
    margin: 2.5rem auto;
}
#fp-nav li a{
    padding: 1rem;
    background-origin: padding-box;
    background-color: white;
    opacity: 0.5;
    border: solid 1px white;
    border-radius: 0.6rem;
    color: black;
    text-decoration: none;
}
#fp-nav li a:hover{
    background-origin: padding-box;
    background-color: white;
    opacity: 1;
    border: solid 1px white;
    color: black;
}
#fp-nav li .active{
    background-color: black;
    opacity: 0.5;
    border: solid 1px black;
    color: white;
}
