<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>博客分类管理界面</title>
    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文" />
    <meta name="description" content="Ace" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <script src="/assets/js/ace-extra.min.js"></script>

</head>

<body>
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="/admin/blogs/1" class="navbar-brand">
                    <small>
							<i class="icon-leaf"></i>
							博客后台管理系统
						</small>
                </a>
                <!-- /.brand -->
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">

                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="{{avatar}}" alt="Jason's Photo">
                            <span class="user-info">
									<small>欢迎光临,</small>
									{{userName}}
								</span>

                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                            <li>
                                <a href="/admin/adminCenter">
                                    <i class="icon-user"></i> 个人中心
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#" onclick="logOut()">
                                    <i class="icon-off"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.ace-nav -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'fixed')
                    } catch (e) {}
                </script>

                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

                        <button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

                        <button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

                        <button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
                    </div>

                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>
                </div>
                <!-- #sidebar-shortcuts -->
                <ul class="nav nav-list">
                    <li>
                        <a href="/" class="dropdown-toggle">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 首页 </span>
                        </a>
                        <ul class="submenu" style="display: none;">

                            <li>
                                <a href="/admin/blogs/1">
                                    <i class="icon-double-angle-right"></i> 文章管理
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="/admin/cate/1">
                            <i class="icon-list"></i>
                            <span class="menu-text"> 分类详情 </span>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/adminCenter">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> 个人中心 </span>
                        </a>
                    </li>

                </ul>
                <!-- /.nav-list -->

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>

                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'collapsed')
                    } catch (e) {}
                </script>
            </div>

            <div class="main-content">
                <div class="page-content">
                    <div class="page-header">
                        <h1><i class="icon-home home-icon"></i>
								<a href="http://localhost:3000">首页</a>
								<small>
									<i class="icon-double-angle-right"></i>
									分类管理
								</small>
							</h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="container">
                                <a href="/admin/cateEdit/0" style="border-radius: 5px;padding: 0;margin-bottom: 8px;" class="btn btn-danger pull-left">新增 <span class=" glyphicon glyphicon-plus"></span></a>
                                <a style="border-radius: 5px;padding: 0;margin-left: 5px;" class="btn btn-success pull-left" onclick="popSearchFun()">查询 <span class="glyphicon glyphicon-search"></span></a>
                                <div id="mainContainer">
                                    <table class="table table-hover table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>名称</th>
                                                <th>备注</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{each data}}
                                            <tr>
                                                <td>{{$index+1}}</td>
                                                <td>{{$value.name}}</td>
                                                <td>{{$value.remarks}}</td>
                                                <td>{{$value.state}}</td>
                                                <td style="text-align: center;">
                                                    <a href="/admin/cateEdit/{{$value.id}}"><span class="glyphicon glyphicon-edit" style="font-size: 18px;"></span></a>
                                                    <a href="javascript:void(0)" onclick="deleteFun('{{$value.id}}')"><span class="glyphicon glyphicon-trash" style="font-size: 18px;color: red;padding-left: 5px;"></span></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                            <tr>
                                                <td colspan="9" style="text-align:right;">
                                                    <p>当前第{{page}}页,总共{{pageCount}}页</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav class="col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4">
                                        <ul class="pagination">
                                            <li class="{{page <= 1 ? 'disabled' : ''}}">
                                                <a href="{{page==1?'#':'/admin/cate/'+(page-1)}}">上一页</a>
                                            </li>

                                            {{each pages as p}} {{if p == page}}
                                            <li class="active"><span>{{page}}</span></li>
                                            {{else}}
                                            <li><a href="/admin/cate/{{p}}">{{p}}</a></li>
                                            {{/if}} {{/each}}

                                            <li class="{{page >= pageCount ? 'disabled' : ''}}">
                                                <a href="{{page>=pageCount?'#':'/admin/cate/'+(page+1)}}">下一页</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>


                            <!--modal delate-->
                            <div class="modal fade" id="modalDelate">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">确定删除</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>是否确定删除此项</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="doDeleteFun()">是</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <form action="/admin/cate/delete" id="formDelete" method="post">
                                <input type="hidden" id="hfDelID" name="id">
                            </form>

                            <!--modal search-->
                            <div class="modal fade" id="modelSearch">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">条件查询</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="mainForm" method="GET" action="/admin/cate/1" class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="name" class="col-sm-2 control-label">名称</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="name" name="name" value="{{query.name}}" placeholder="请输入名称">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="order_num" class="col-sm-2 control-label">排序号</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="order_num" name="order_num" value="{{query.order_num}}" placeholder="请输入排序号">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <button id="subBtn" type="submit" class="btn btn-primary btn-block" data-dismiss="modal">提交</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->

                        </div>
                    </div>
                    <!-- /.page-header -->
                    <div class="ace-settings-container" id="ace-settings-container">
                        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                            <i class="icon-cog bigger-150"></i>
                        </div>

                        <div class="ace-settings-box" id="ace-settings-box">
                            <div>
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
									<option data-skin="default" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
                                </div>
                                <span>&nbsp; 选择皮肤</span>
                            </div>

                            <div>
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                                <label class="lbl" for="ace-settings-navbar"> 固定导航条</label>
                            </div>

                            <div>
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                                <label class="lbl" for="ace-settings-sidebar"> 固定滑动条</label>
                            </div>

                            <div>
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                                <label class="lbl" for="ace-settings-breadcrumbs">固定面包屑</label>
                            </div>

                            <div>
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                                <label class="lbl" for="ace-settings-rtl">切换到左边</label>
                            </div>

                            <div>
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                                <label class="lbl" for="ace-settings-add-container">
								切换窄屏
								<b></b>
							</label>
                            </div>
                        </div>
                    </div>
                    <!-- /#ace-settings-container -->
                </div>
                <!-- /.main-container-inner -->

                <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                    <i class="icon-double-angle-up icon-only bigger-110"></i>
                </a>
            </div>
            <!-- /.main-container -->
        </div>
    </div>

    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/typeahead-bs2.min.js"></script>
    <script src="/libs/template.js"></script>
    <script src="/libs/jquery/jquery.cookie.min.js"></script>
    <script src="/libs/jquery/jquery.html5uploader.min.js"></script>
    <!-- ace scripts -->
    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>
    <script type="text/javascript">
        var _idForDel = '';

        function deleteFun(id) {
            _idForDel = id;
            /////$().modal(); ///bootstrap.js中的方法
            $("#modalDelate").modal();
        }

        function doDeleteFun() {
            if (_idForDel) {
                $("#hfDelID").val(_idForDel);
                $("#formDelete").submit();
            }
        }

        $('#subBtn').click(function(){
            $('#mainForm').submit();
        })

        /////点击查询按钮
        function popSearchFun() {
            $("#modelSearch").modal();
        }

        // 验证管理员是否登录
        if (!!!($.cookie('userName'))) {
            window.location.href = '/login.html';
        }

        function logOut() {
            $.removeCookie('userName',{'path':'/'});
            window.location.reload();
        }

        $(function() {
            $(".pagination a").each(function() {
                var href = $(this).attr("href");
                if (!!href && href != "#") {
                    $(this).attr("href", href + "?" + $("#mainForm").serialize());
                }
            })
        })
    </script>
</body>

</html>