* {
  box-sizing: border-box;
}
html[lang=en]{
  overflow: scroll;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

body {
  background-color: #eee;
  margin: 0;
  padding-top: 50px;
  overflow-y: scroll;
}
span{
  color: red;
  font-size: 8px;
  padding-left: 8px;
}

article {
  background-color: #ee9714;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
  color: white;
  position: relative;
  /*box-shadow：length length length length color
                  length：阴影水平偏移值
                  length：阴影垂直偏移值
                  length：阴影模糊值
                  length：阴影边框
                  color：阴影颜色*/
  box-shadow: 2px 2px 5px #222;
  transform: rotate(10deg);
  overflow: hidden;
  z-index: 10;
}

.logo {
  width: 40%;
}

h1 {
  font-size: 35px;
  font-family: 楷体;
}

small {
  font-size: 18px;
  display: block;
  line-height: 26px;
  font-weight: normal;
}

p {
  margin: 0;
}

address {
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
}

.addr:before {
  content: "地址：";
}

.tel:before {
  content: "电话：";
}

.qq:before {
  content: "QQ：";
}

.E-mail:before {
  content: "邮箱：";
}

.qq {
  display: inline-block;
  margin-left: 30px;
}

.tel {
  float: left;
}

.pic {
  width: 170px;
  height: 270px;
  position: absolute;
  bottom: -10px;
  right: -8px;
  opacity: 0.7;
}

.btnDiv{
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

aside {
  background-color: #ee9714;
  width: 500px;
  height: 300px;
  margin: 22px auto;
  box-sizing: border-box;
  padding: 80px 25px 20px 25px;
  box-shadow: 1px 3px 5px #222;
  transform: rotate(-2deg);
}

.photo {
  width: 110px;
  height: 110px;
  border: solid 6px white;
  border-radius: 50%;
  background-image: url(/images/photo.jpg);
  background-repeat: no-repeat;
  background-position: 65% 70%;
  background-size: contain;
}

aside p {
  color: white;
  float: right;
  width: 310px;
  margin-top: -111px;
  line-height: 25px;
  text-indent: 2em;
}
#btnEdit{
  font-size: 18px;
  background-color: orangered;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  color: white;
}

.container {
  width: 30%;
  margin: 20px auto;
  background-color: lightseagreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #222;
}

label {
  width: 100%;
  color: white;
}

/*input {
  width: 100%;
  margin-bottom: 13px;
  border-radius: 5px;
  padding: 8px;
  border: none;
}*/

/*textarea {
  width: 100%;
  resize: none;
  border-radius: 3px;
  border: none;
  padding: 8px;
  margin-bottom: 13px;
}*/

/*button {
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: #eea236;
  color: #fff;
  border-color: #eea236;
  cursor: pointer;
}*/

.edit{
  width: 33px;
  cursor: pointer;
}

table{
  width: 60%;
  margin: auto;
  border-collapse: collapse;
}
table td{
  padding: 11px 0;
  border-bottom: solid 1px black;
  text-align: center;
}
.cards{
  width: 80%;
  margin: auto;
}

.ng-enter{
  animation: flipInX 1.5s;
}